@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
  color: #ffffff;
}

body{ background: rgb(0, 0, 0); overflow: hidden;}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.again {
  height: 40px;
  width: 130px;
  font-size: 15px;
  margin: 20px;
  background: #ffffff;
  border: none;
  box-shadow: 1px 1px 1px 1px rgb(255, 255, 255);
  cursor: pointer;
  color: black;
}

.guess {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lines {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.line1 {
  border-top: 20px;
  background: #ffffff;
  height: 5px;
  width: 45%;
}
.line2 {
  border-top: 20px;
  background: #ffffff;
  height: 5px;
  width: 45%;
}

.center {
  background: #ffffff;
  height: 80px;
  min-width: 100px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
   
}

.answer{
  animation: bounce 0.5s ease-in-out infinite alternate; 
  color:black;
  margin-top: 10px;
}
@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}


.below {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.left input {
  height: 7vh;
  width: 25%;
  border: 2px solid white;
  font-size: 30px;
  text-align: center;
  background: rgb(0, 0, 0);
  align-items: center;
}

.left button {
  margin-top: 20px;
  height: 35px;
  width: 110px;
  padding: 10px;
  background: white;
  color: black;
  border: none;
  box-shadow: 1px 1px 1px 1px rgb(255, 255, 255);
  cursor: pointer;
}
.right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  margin-right:30px;
}
.right .start_guessing_text {
  margin-bottom: 50px;
}

.right p{
 display: flex;
 justify-content: center;
 align-items:center;
 padding: 10px;
}


@media screen and (max-width: 775px) {
  .left input {
    height: 9vh;
    min-width: 35%;
  }
}
@media screen and (max-width: 585px) {
  .left input {
    height: 9vh;
    width: 35%;
  }
  .guess h1 {
    font-size: 20px;
    
  }
  .side {
    font-size: 10px;
  }

  .right p{
  font-size: 12px;
   }
}

@media screen and (max-width: 450px) {
  .left input {
    height: 9vh;
    width: 35%;
  }
  .guess h1 {
    font-size: 15px;
    
  }
  .side {
    font-size: 6px;
    
  }
  .again {
    height: 30px;
    width: 100px;
    font-size: 13px;
    margin: 20px;
  }

  .center{
   min-width:70px ;
   height: 60px;
   font-size: 30px;
  }
}

@media screen and (max-width: 415px) {
  .left input {
    height: 5vh;
    width:50%;
    font-size: 15px;
  }

  .right .start_guessing_text {
    margin-bottom: 20px;
  }
  .left button {
    margin-top:40px;
  }
}
@media screen and (max-width: 335px) {
  .left input {
    height: 8vh;
    width: 50%;
  }
  .guess h1 {
    font-size: 15px;
    
  }
  .center{
   min-width:50px ;
   height: 40px;
   font-size: 15px;
  }

  .right .start_guessing_text {
    margin-left: 20px;
  }
  .left  {
    margin-left:40px;
  }
  .right p{
    font-size: 10px;
  }
}













/* FIREWORKS */
.win{
  visibility: hidden;
 
}

@keyframes firework {
  0% { transform: translate(var(--x), var(--initialY)); width: var(--initialSize); opacity: 1; }
  50% { width: 0.5vmin; opacity: 1; }
  100% { width: var(--finalSize); opacity: 0; }
}

/* @keyframes fireworkPseudo {
  0% { transform: translate(-50%, -50%); width: var(--initialSize); opacity: 1; }
  50% { width: 0.5vmin; opacity: 1; }
  100% { width: var(--finalSize); opacity: 0; }
}
 */
.firework,
.firework::before,
.firework::after
{
  --initialSize: 0.5vmin;
  --finalSize: 45vmin;
  --particleSize: 0.2vmin;
  --color1: yellow;
  --color2: khaki;
  --color3: white;
  --color4: lime;
  --color5: gold;
  --color6: mediumseagreen;
  --y: -30vmin;
  --x: -50%;
  --initialY: 60vmin;
  content: "";
  animation: firework 2s infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, var(--y));
  width: var(--initialSize);
  aspect-ratio: 1;
  background: 
    /*
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 0%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 0%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 100%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 100%,
    */
    
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 50% 0%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 50%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 50% 100%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 0% 50%,
    
    /* bottom right */
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 80% 90%,
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 95% 90%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 90% 70%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 60%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 55% 80%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 70% 77%,
    
    /* bottom left */
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 22% 90%,
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 45% 90%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 70%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 10% 60%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 31% 80%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 28% 77%,
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 13% 72%,
    
    /* top left */
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 80% 10%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 95% 14%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 90% 23%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 100% 43%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 85% 27%,
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 77% 37%,
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 60% 7%,
    
    /* top right */
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 22% 14%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 45% 20%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 34%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 10% 29%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 31% 37%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 28% 7%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 13% 42%
    ;
  background-size: var(--initialSize) var(--initialSize);
  background-repeat: no-repeat;
}

.firework::before {
  --x: -50%;
  --y: -50%;
  --initialY: -50%;
/*   transform: translate(-20vmin, -2vmin) rotate(40deg) scale(1.3) rotateY(40deg); */
  transform: translate(-50%, -50%) rotate(40deg) scale(1.3) rotateY(40deg);
/*   animation: fireworkPseudo 2s infinite; */
}

.firework::after {
  --x: -50%;
  --y: -50%;
  --initialY: -50%;
/*   transform: translate(44vmin, -50%) rotate(170deg) scale(1.15) rotateY(-30deg); */
  transform: translate(-50%, -50%) rotate(170deg) scale(1.15) rotateY(-30deg);
/*   animation: fireworkPseudo 2s infinite; */
}

.firework:nth-child(2) {
  --x: 30vmin;
}

.firework:nth-child(2),
.firework:nth-child(2)::before,
.firework:nth-child(2)::after {
  --color1: pink;
  --color2: violet;
  --color3: fuchsia;
  --color4: orchid;
  --color5: plum;
  --color6: lavender;  
  --finalSize: 40vmin;
  left: 30%;
  top: 60%;
  animation-delay: -0.25s;
}

.firework:nth-child(3) {
  --x: -30vmin;
  --y: -50vmin;
}

.firework:nth-child(3),
.firework:nth-child(3)::before,
.firework:nth-child(3)::after {
  --color1: cyan;
  --color2: lightcyan;
  --color3: lightblue;
  --color4: PaleTurquoise;
  --color5: SkyBlue;
  --color6: lavender;
  --finalSize: 35vmin;
  left: 70%;
  top: 60%;
  animation-delay: -0.4s;
}
